<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.rosan.dhizuku.permission.API" />
    <queries>
        <provider android:authorities="com.rosan.dhizuku.server.provider" />
        <intent>
            <action android:name="com.rosan.dhizuku.server.provider" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="Dhizuku Connection Tester"
        android:roundIcon="@android:mipmap/sym_def_app_icon"
        android:theme="@android:style/Theme.Material.Light">
        <activity
            android:name=".Tester"
            android:exported="true"
            android:label="Test Dhizuku">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
